flask_sqlalchemy
flask_oauthlib
sqlalchemy_serializer
Flask
Werkzeug
twitchAPI
pytesseract
scipy
opencv-python
numpy
tqdm
Pillow
streamlink
scipy
cryptocode
pyee
Flask-Sharp
twitch-dl==1.22.0
pytest
gunicorn
google-cloud-storage