flask_sqlalchemy
Flask-Caching
flask_oauthlib
sqlalchemy_serializer
Flask
Werkzeug
twitchAPI
pytesseract
opencv-python
numpy
tqdm
Pillow
streamlink
scipy
cryptocode
pyee
Flask-Sharp
twitch-dl==1.22.0
pytest
gunicorn
PyMySQL
google-cloud-storage
json-fix
#https://github.com/simonflueckiger/tesserocr-windows_build/releases/download/tesserocr-v2.5.2-tesseract-4.1.1/tesserocr-2.5.2-cp38-cp38-win_amd64.whl
tesserocr
cython