flask_login
flask_expects_json
flask_sqlalchemy
flask_oauthlib
sqlalchemy_serializer
Flask~=2.1.3
Werkzeug~=2.2.1
twitchAPI
pytesseract
scipy
opencv-python
numpy~=1.22.2
tqdm~=4.62.3
click~=8.0.1
Pillow~=9.0.1
streamlink
scipy
cryptocode
pyee
moviepy
python-vlc
Flask-Sharp
twitch-dl==1.22.0
pytest
WTForms-Alchemy